csv_files
netcdf_files
bad.txt
old.py
/frontend/node_modules
/node_modules
/old
bun.lockb
netcdf_1
netcdf_6
maps.json
/data_bin
/data_raw
/data_texture
*.bin
/buildtexture/pyscripts/textures_*
/buildtexture/output

