/* general ----------------------------------------------------------------- */
body {
    font-family: "Roboto", sans-serif;
    background-color: black;
    margin: 0;
}
canvas { 
    display: block; 
}
#title {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100%;
    text-align: right;
    z-index: 100;
    font-weight: bolder;
    font-size: 140%;
    display: block;
    margin: 0;
    color: #ededed;
}
#instructions {
    position: absolute;
    bottom: 15px;
    right: 10px;
    text-align: right;
    z-index: 100;
    display: flex;
    color: #ededed;
}


/* links ------------------------------------------------------------------- */
#links {
    position: absolute;
    padding: 0;
    margin: 0;
    bottom: 15px;
    left: -30px;
    text-align: left;
    z-index: 100;
    display: flex;
    color: #ededed;
}
#links ul {
    list-style: none;
}
a:link {
    color: #ededed;
}
a:visited {
    color: #ededed;
}
a:hover {
    color: hotpink;
}
a:active {
    color: #ededed;
}


/* slider map picker ------------------------------------------------------- */
.slider{
    background-color: #ccc;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 50%;
    align-items: center;
    border-radius: 5px;
    transform: translateX(-50%);
}
input[type="range"]{
    position: fixed;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    bottom: 10px;
    width: 80%;
    align-items: center;
    height: 8px;
    background-color: #ccc;
    border-radius: 8px;
    outline: none;
}
input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 8px;
}
input[type="range"]::-moz-track{
    -moz-appearance: none;
    height: 8px;
}
input[type="range"]::-ms-track{
    appearance: none;
    height: 8px;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: #3367c9;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -6px;
    border: none;
}
input[type="range"]::-moz-range-thumb{
    appearance: none;
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: #3367c9;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -6px;
    border: none;
}
input[type="range"]::-ms-thumb{
    appearance: none;
    height: 20px;
    width: 20px;
    background-color: #3367c9;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -6px;
    border: none;
}
input[type="range"]:active::-webkit-slider-thumb{
    background-color: #dddcdc;
    border: 3px solid #3367c9;
}


/* elevation legend -------------------------------------------------------- */
.legend {
    z-index: 100;
    position: absolute;
    display: block;
    top: 10px;
    left: 10px;
}
.legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
    color: #ededed;
}
.legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
    color: #ededed;
}
.legend-scale ul li {
    font-size: 70%;
    list-style: none;
    margin-left: 0;
    line-height: 15px;
    margin-bottom: 2px;
    color: #ededed;
}
ul.legend-labels li span {
    display: block;
    float: left;
    height: 12px;
    width: 12px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
    color: #ededed;
}


/* hd mode switch ---------------------------------------------------------- */
.switch {
    z-index: 100;
    position: absolute;
    display: flex;
    align-items: center;
    left: 10px;
    top: 220px;
}
.switch .hdmode {
    font-weight: bold;
    font-size: 90%;
    margin-right: 10px;
    color: #ededed;
}
.switch input {
    display: none;
}
.toggle {
    position: relative;
    width: 35px;
    height: 20px;
    background-color: #ccc;
    border-radius: 25px;
    transition: background-color 0.2s;
}
.toggle:before {
    content: "";
    position: absolute;
    height: 16px; 
    width: 16px; 
    left: 2px; 
    bottom: 2px; 
    background-color: #333; 
    border-radius: 50%; 
    transition: transform 0.2s; 
}
input:checked + .toggle {
    background-color: #3367c9;
}
input:checked + .toggle:before {
    transform: translateX(15px);
}
