/* general ----------------------------------------------------------------- */
body {
    font-family: "Roboto", sans-serif;
    background-color: black;
    margin: 0;
    touch-action: manipulation;
}
canvas { 
    display: block; 
}
.infohud {
    display: flex;
}
#title {
    position: absolute;
    top: 10px;
    right: 10px;
    max-width: 60%;
    text-align: right;
    z-index: 100;
    font-weight: bolder;
    font-size: 140%;
    display: block;
    margin: 0;
    color: #ededed;
}
#instructions {
    position: absolute;
    bottom: 15px;
    right: 10px;
    text-align: right;
    z-index: 100;
    display: flex;
    color: #ededed;
}


/* links ------------------------------------------------------------------- */
#links {
    position: absolute;
    padding: 0;
    margin: 0;
    bottom: 15px;
    left: -30px;
    text-align: left;
    z-index: 100;
    display: flex;
    color: #ededed;
}
#links ul {
    list-style: none;
}
a:link {
    color: #ededed;
}
a:visited {
    color: #ededed;
}
a:hover {
    color: hotpink;
}
a:active {
    color: #ededed;
}


/* slider map picker ------------------------------------------------------- */
.slider{
    background-color: #ccc;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 50%;
    align-items: center;
    border-radius: 5px;
    transform: translateX(-50%);
}
input[type="range"]{
    position: fixed;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    bottom: 10px;
    width: 80%;
    align-items: center;
    height: 8px;
    background-color: #ccc;
    border-radius: 8px;
    outline: none;
}
input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 8px;
}
input[type="range"]::-moz-track{
    -moz-appearance: none;
    height: 8px;
}
input[type="range"]::-ms-track{
    appearance: none;
    height: 8px;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: #3367c9;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -6px;
    border: none;
}
input[type="range"]::-moz-range-thumb{
    appearance: none;
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: #3367c9;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -6px;
    border: none;
}
input[type="range"]::-ms-thumb{
    appearance: none;
    height: 20px;
    width: 20px;
    background-color: #3367c9;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -6px;
    border: none;
}
input[type="range"]:active::-webkit-slider-thumb{
    background-color: #dddcdc;
    border: 3px solid #3367c9;
}


/* elevation legend -------------------------------------------------------- */
.legend {
    z-index: 100;
    position: absolute;
    display: block;
    top: 10px;
    left: 10px;
}
.legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
    color: #ededed;
}
.legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
    color: #ededed;
}
.legend-scale ul li {
    font-size: 70%;
    list-style: none;
    margin-left: 0;
    line-height: 15px;
    margin-bottom: 2px;
    color: #ededed;
}
ul.legend-labels li span {
    display: block;
    float: left;
    height: 12px;
    width: 12px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
    color: #ededed;
}

/* layer switches ---------------------------------------------------------- */
.switches-container {
    position: absolute;
    left: 10px;
    top: 260px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.switch {
    display: flex;
    align-items: center;
    width: 100px;
    gap: 20px;
}
.switch-label {
    color: #ededed;
    font-weight: bold;
    font-size: 90%;
    width: 40px;
    text-align: left;
}
.toggle {
    position: relative;
    width: 35px;
    height: 20px;
    background-color: #ccc;
    border-radius: 25px;
    transition: background-color 0.2s;
    flex-shrink: 0;
}
.toggle:before {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: #333;
    border-radius: 50%;
    transition: transform 0.2s;
}
.switch input {
    display: none;
}
input:checked + .toggle {
    background-color: #3367c9;
}
input:checked + .toggle:before {
    transform: translateX(15px);
}

/* arrows ------------------------------------------------------------------ */
.arrow-container {
    position: fixed;
    bottom: 33px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    z-index: 1000;
}
.arrow-button {
    background-color: rgba(200, 200, 200, 0.3);
    color: white;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 22px;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    /* existing styles */
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
.arrow-button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
.arrow-button:active {
    outline: none;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
}
.arrow-button img {
    filter: invert(1);
}

/* full -------------------------------------------------------------------- */
.fullscreen-button {
    position: fixed;
    bottom: 38px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}
.fullscreen-button img {
    width: 24px;
    height: 24px;
    filter: invert(1); 
}
.fullscreen-button:focus {
    outline: none;
}
#fullscreen-alt {
    display: flex;
}
#fullscreen-exit {
    display: none;
}
